@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
    
  --azulclaroapp: #006DFF;
  --azulescuroapp: #001633;
  --azulchumboescuro: #213044;
  --azulchumboclaro: #274C7D;
  --cinzachumbo: #2E2E2E;
  --brancopuro: #FFFFFF;
  --pretopuro: #000000;
}

::placeholder{
  color: var(--brancopuro);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

button .entrar :hover {
  color: #006DFF;
}
  
/*ARQUIVOSCSS


.header {
  color: var(--brancopuro);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pretopuro) transparent;
  padding: 10px;
  font-size: 25px;
}

.header a {
  text-decoration: none;
  padding: 9px;
  color: var(--brancopuro);
}

.header svg {
  margin-left: 5px;
  margin-right: 10px;
  fill: var(--azulclaroapp);
  width: 70px;
  height: 70px;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
  box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
  border-radius: 21px;
}

.logo {
  display: flex;
}

.logo span {
  font-size: 50px;
  display: flex;
  align-items: center;
}

.header button {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 22px;
  display: flexbox;
  align-items: flex-end;
  color: var(--azulclaroapp);
  background-color: var(--azulescuroapp);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
  box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
}

body {
  height: 100vh;
  background-color: hsla(214, 100%, 50%, 1);
  background-image: radial-gradient(
      at 0% 0%,
      hsla(300, 0%, 0%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(300, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(342, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(258, 0%, 0%, 1) 0px, transparent 50%);
}


.header a:hover {
  color: var(--azulclaroapp);
  background-color: var(--brancopuro);
  border-radius: 10px;
  transition-delay: 25ms;
  transition-property: margin-center;
}


.header button:hover {
  color: var(--azulclaroapp);
  background-color: var(--brancopuro);
  border-radius: 10px;
}

.parkhub {
  font-size: 100px;
  color: var(--brancopuro);
}

h1 {
  position: fixed;
  margin-top: 130px;
  margin-left: 697px;
  color: var(--brancopuro);
}


.position {
  display: flexbox;
  position: fixed;
  display: inline;
  align-items: center;
}

p {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 30px;
  color: var(--brancopuro);
}

img {
  margin-right: 30px;
  fill: var(--azulclaroapp);
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
  box-shadow: 0px 0px 7px 1px rgba(0, 111, 255, 1);
  border-radius: 60px;
}

footer {
  font-size: 20px;
  color: red;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  text-align: center;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* This will make the div take up the full height of the available space
}
 */